@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #3d3f82;
  --sb-size: 2px;
  
}
.ltr{
  direction: ltr;
  

}
.rtl{
  direction: rtl;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.section-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.section-scrollbar::-webkit-scrollbar-track {
  background:#ffffff;
  
}

.section-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}