@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #3d3f82;
  --sb-size: 2px;
  
}
.ltr{
  direction: ltr;
  --sb-thumb-color: #D5202E;

}
.rtl{
  direction: rtl;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
