@charset "UTF-8";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

[data-icon]:before {
    font-family: "Material Symbols Outlined" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "Material Symbols Outlined" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ec {
    display: inline-block;
    font: normal normal normal 14px/1 Material Symbols Outlined;
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ec-menu:before {
  content: "\e5d2";
}

.ec-transport:before {
  content: "\e558";
}
.ec-add-to-cart:before {
  
  content: "\e854";
}
.ec-arrow-right-categproes:before {
  content: "\e5cc";
}

.ec-compare:before {
    font-family: "Material Symbols Outlined";
  content: "\e915";
}
.ec-customers:before {
  content: "\e311";
}

.ec-favorites:before {
  content: "\e87d";
}

.ec-search:before {
  content: "\e8b6";
}
.ec-shopping-bag:before {
content: "\e8cc";
}

.ec-user:before {
  content: "\e7fd";
}

.ec-close-remove:before {
  content: "\e5e1";
}





.ec-call:before {
  content: "\e325";
}
.ec-fire::before{
  content: "\ef55";
}
.ec-down-arrow::before{
  content:"\e313";
}
.ec-email::before{
  content:"\e158"
}