
.box-shadow {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* category dropdown */
.dropdown-content {
  transition: max-height 0.5s ease;
  max-height: 0;
}

.dropdown-content.show {
  max-height: 420px;
  opacity: 1;
  visibility: visible;
}

/* category dropdown end */

.no-scroll {
  overflow: hidden;
}
.no-scroll-y{
  overflow-y: hidden;
}
/* sidebar  */

#sidebardiv {
  max-width: 0;
  transition: max-width 0.3s ease;
  overflow: hidden;
}

#sidebardiv.showsidebar {
  max-width: 320px;
  overflow: hidden;
  padding: 16px 16px;
}

/* products list */
.show-after::after {
  content: "";
  height: 4px;
  width: 10px;
  display: block;
  position: relative;
  top: 12px;
  left: 50%;
  border-radius: 0 0 10px 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #3D3F82;
  z-index: 10000;
}

/* advertisement */
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Transition for smooth sliding */
}

/* slider  */

.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color:#3D3F82 ;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
}

/* slider end */

/* Login */
#loginSection {
  max-width: 0px;
  transition: all 1s ease; /* Include padding in the transition */
  overflow: hidden;
  padding: 0px;
  
}

#loginSection.showlogin {
  overflow: hidden;
  max-width: 100%;
  padding: 40px;
  
}

/* adevertisement  */
.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}